@import './partials/colors';
@import './partials/mixin';
@import './partials/typography';
@import './partials/variable';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $fs-normal;
	background: $main-background;
	color: $main-heading;
	line-height: 1.5;
	font-family: $ff-public;
}

main {
	position: relative;
}

.container {
	margin: 0 auto;
	background: $card-background;
	text-align: center;
	border-radius: 0.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
	width: 327px;
	overflow: hidden;
}

.tinted__image {
	width: 327px;
	height: 240px;

	background-image: linear-gradient(
			rgba(82, 23, 119, 0.726),
			rgba(82, 23, 119, 0.726)
		),
		url(/images/image-header-mobile.jpg);
	background-size: cover;
}

.hero {
	padding: 0rem 2.5rem;
	margin-bottom: 2rem;
}

.hero__text {
	color: $stat-headings;
	font-size: $fs-normal - 2;
	line-height: 1.6;
}

.heading {
	color: $main-heading;
	margin-bottom: $margin;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 1.05;

	span {
		color: $accent;
	}
}

.stats__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.stat {
	color: $stat-headings;
	text-transform: uppercase;
	font-size: $fs-normal - 4;
	font-weight: $fw-light-bold;
}

.number {
	font-size: $fs-normal + 3;
}

.description:last-child {
	margin-bottom: $margin + 0.5;
}

// @ Media Queries

@include laptop-query {
	.container {
		width: 1140px;
		text-align: left;
		display: flex;
		flex-direction: row-reverse;
		transform: translate(-50%, 40%);
	}

	.tinted__image {
		width: 95%;
		height: 446px;

		background-image: linear-gradient(
				rgba(82, 23, 119, 0.726),
				rgba(82, 23, 119, 0.726)
			),
			url(/images/image-header-desktop.jpg);
	}

	.hero {
		padding-left: 64px;
		margin-bottom: 2rem;
	}

	.hero__stats {
		padding-bottom: 0;
	}

	.heading {
		font-size: $fs-normal + 24px;
		margin-bottom: 24px;
	}

	.hero__text {
		font-size: $fs-normal + 1;
		margin-bottom: 64px;
	}

	.stats__container {
		display: flex;
		flex-direction: row;
		margin-left: 2.8rem;
		gap: 70px;
		padding-left: 64px;
		margin-left: 0;
	}

	.stat {
		font-size: $fs-normal - 2;
	}

	.number {
		font-size: $fs-normal + 10;
	}
}
