/* media queries */
/* font-family */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background: #090b1a;
  color: white;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

main {
  position: relative;
}

.container {
  margin: 0 auto;
  background: #1b1938;
  text-align: center;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  width: 327px;
  overflow: hidden;
}

.tinted__image {
  width: 327px;
  height: 240px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 23, 119, 0.726)), to(rgba(82, 23, 119, 0.726))), url(/images/image-header-mobile.jpg);
  background-image: linear-gradient(rgba(82, 23, 119, 0.726), rgba(82, 23, 119, 0.726)), url(/images/image-header-mobile.jpg);
  background-size: cover;
}

.hero {
  padding: 0rem 2.5rem;
  margin-bottom: 2rem;
}

.hero__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 1.6;
}

.heading {
  color: white;
  margin-bottom: 16px;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.05;
}

.heading span {
  color: #aa5cdb;
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.stat {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}

.number {
  font-size: 18px;
}

.description:last-child {
  margin-bottom: 16.5px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
  }
  .tinted__image {
    width: 95%;
    height: 446px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 23, 119, 0.726)), to(rgba(82, 23, 119, 0.726))), url(/images/image-header-desktop.jpg);
    background-image: linear-gradient(rgba(82, 23, 119, 0.726), rgba(82, 23, 119, 0.726)), url(/images/image-header-desktop.jpg);
  }
  .hero {
    padding-left: 64px;
    margin-bottom: 2rem;
  }
  .hero__stats {
    padding-bottom: 0;
  }
  .heading {
    font-size: 39px;
    margin-bottom: 24px;
  }
  .hero__text {
    font-size: 16px;
    margin-bottom: 64px;
  }
  .stats__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 2.8rem;
    gap: 70px;
    padding-left: 64px;
    margin-left: 0;
  }
  .stat {
    font-size: 13px;
  }
  .number {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */